@import '~src/styles.scss';

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;

  .field-container{
    display: flex;
    flex-direction: column;
  }
}

input,textarea{
  border: none;
  border-bottom: 2px solid $grey;
  padding: 0.5rem 0;
  outline: none;
  background: none;
  color: $white;
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
}
label{
  font-size: 1.5rem;
}

textarea{

  height: 5rem;

  resize: none;

}
.button-container{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit-button{
  cursor: pointer;
  padding: 1rem 2rem 1rem 2rem;
  background: $background-card;
  color: $white;
  border: none;
  border-radius: 2.5rem;
  font-size: 1.75rem;
}

.submit-button:hover{
  background: #5d8fa8;
}

.submit-button:active{
  background: #297ea8;
}

.tag-container{
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.tag{
  background: $background-card;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.cross-icon{
  cursor: pointer;
  width: .75rem;
}
