/* You can add global styles to this file, and also import other style files */




$black: #1D3557;
$background-card: #457B9D;
$primary: #E63946;
$white: #F1FAEE;
$grey: #D5DCE4;



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: $black;
  color: $white;
  font-family: 'Montserrat', sans-serif;
}
